
@{
    ViewBag.Title = "UserData";
    Layout = null;
}

<div class="tgme_page_wrap">
    <div class="tgme_head_wrap">
        <div class="tgme_head">
            <a href="#" class="tgme_head_brand">
                <i class="tgme_logo"></i>
            </a>
        </div>
    </div>
    <a class="tgme_head_dl_button" href="#">
        Don't have <strong>Telegram</strong> yet? Try it now!<i class="tgme_icon_arrow"></i>
    </a>
    <div class="tgme_page tgme_page_post">
        <div class="tgme_page_photo">
            <a href="tg://resolve?domain=durov"><img class="tgme_page_photo_image" src="https://www.qries.com/images/banner_logo.png"></a>
        </div>
        <div class="tgme_page_title" dir="auto">
            <span dir="auto">Durov's Channel</span><i class="verified-icon"></i>
        </div>
        <div class="tgme_page_extra">408 479 members</div>
        <div class="tgme_page_description" dir="auto">Thoughts from the product manager of Telegram.</div>
        <div class="tgme_page_action">
            <a class="tgme_action_button_new" href="tg://resolve?domain=durov">View in Telegram</a>
        </div>
        <!-- WEBOGRAM_BTN -->
        <div class="tgme_page_action tgme_page_context_action"><div class="tgme_page_context_btn"><a class="tgme_action_button_new" href="#"><span class="tgme_action_button_label">Preview channel</span></a></div></div>
        <div class="tgme_page_additional">
            If you have <strong>Telegram</strong>, you can view and join <br><strong>Durov's Channel</strong> right away.
        </div>
    </div>
</div>

<div id="tgme_frame_cont"></div>
